--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cu113 
torchvision==0.12.0+cu113 
torchaudio==0.11.0 
--extra-index-url https://download.pytorch.org/whl/cu113
tensorboard==2.11.0
opencv-python
pyyaml
matplotlib
pandas
plyfile
imageio
